{%- if auth_key_in_state -%}
{{ (tailscale_args_string | string + ' --authkey=' + (tailscale_authkey|string)) | trim | hash('sha256') }}
{% else %}
{{ tailscale_args_string | string | trim | hash('sha256') }}
{%- endif -%}
